@import "../styles/breakpoints";
@import "../styles/mixin";

:root {
  --fz-14: 14px;
  --fz-16: 16px;
  --fz-20: 20px;
  --fz-30: 30px;
  --fz-60: 64px;
}

.fz-14 {
  font-size: var(--fz-14);
}

.fz-16 {
  font-size: var(--fz-16);
}

.fz-20 {
  font-size: var(--fz-20);
}

.fz-30 {
  font-size: var(--fz-30);
}

.fz-60 {
  font-size: var(--fz-60);
}