@import "../../../../styles/breakpoints";
@import "../../../../styles/mixin";

.button {
  display: inline-block;
  text-decoration: none;
  font-size: var(--fz-14);
  width: max-content;
  padding: rem(13px) rem(20px) rem(10px) rem(20px);
  letter-spacing: rem(1px);
  text-transform: uppercase;
  background-color: transparent;
  
  &--default {
    color: var(--color-gray);
    border: rem(1px) solid var(--color-white);
  }

  &--black {
    margin: 0 auto;
    border: rem(1px) solid var(--color-black);
  }
}
