@import "@/styles/mixin";

.component {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: var(--color-black);
  z-index: 99;
  svg {
    position: absolute;
    top: 0;
    width: 100%;
    height: calc(100% + rem(300px));
    path {
      fill: #141516;
    }
  }
  p {
    position: absolute;
    display: flex;
    align-items: center;
    color: var(--color-white);
    font-size: rem(42px);
    z-index: 1;
    span {
      display: block;
      width: rem(10px);
      height: rem(10px);
      margin-right: rem(10px);
      border-radius: 50%;
      background-color: var(--color-white);
    }
  }
}
