@import "../../../styles/breakpoints";
@import "../../../styles/mixin";

.parallax {
  overflow: hidden;
  margin: 0;
  padding: rem(40px) 0 rem(30px);
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;

  .scroller {
    display: flex;
    white-space: nowrap;
    display: flex;
    flex-wrap: nowrap;
  }

  div {
    display: flex;
    column-gap: rem(100px);
  }

  p {
    display: flex;
    align-items: center;
    column-gap: rem(10px);
    font-size: rem(40px);
    line-height: rem(25px);
    text-transform: uppercase;
  }
}
