@import "../../../styles/breakpoints";
@import "../../../styles/mixin";

.wrapper {
  position: sticky;
  top: 0;
  width: 100%;
  padding: rem(40px) 0;
  background-color: var(--color-black);
  z-index: 2;
}

.container {
  width: 100%;
  height: rem(60px);
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
