*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body {
  scroll-behavior: smooth;
  scroll-padding-top: 50px;
}

body {
  font-size: var(--fz-16);
  color: var(--color-black);
  margin: 0;
  background: var(--gradient);
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

// ::-moz-selection {
// 	color: var(--wpe--color--white);
// 	background-color: var(--wpe--color--accent);
// }

// ::selection {
// 	color: var(--wpe--color--white);
// 	background-color: var(--wpe--color--accent);
// }

ul {
  margin: 0;
  padding: 0;
}

figure {
  display: flex;
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Classes */
.flex {
  display: flex;
}