:root {
  --color-black: #391245;
  --color-black-dark: #000;
  --color-white: #fff;
  --color-gray: #babcbd;
  --color-gray-dark: #78797a;
  --color-gray-100: #F6F6F6;
  --color-gray-200: #f7f7f7;
  --gradient: linear-gradient(115.6deg, #000811 -7.5%, #000E17 105.49%);
}

/* Colors */
.color-black {
  color: var(--color-black);
}

.color-black-dark {
  color: var(--color-black-dark);
}

.color-white {
  color: var(--color-white);
}

.color-gray {
  color: var(--color-gray);
}

.color-gray-dark {
  color: var(--color-gray-dark);
}

.color-gray-100 {
  color: var(--color-gray-100);
}

.color-gray-200 {
  color: var(--color-gray-200);
}

/* Background */
.bckg-black {
  background-color: var(--color-black);
}

.bckg-white {
  background-color: var(--color-white);
}

.bckg-gray {
  background-color: var(--color-gray);
}

.bckg-gray-dark {
  background-color: var(--color-gray-dark);
}

.bckg-gray-100 {
  background-color: var(--color-gray-100);
}

.bckg-gray-200 {
  background-color: var(--color-gray-200);
}

.bckg-gradient {
  background: var(--gradient);
}
