:root {
  --fz-14: 14px;
  --fz-16: 16px;
  --fz-20: 20px;
  --fz-30: 30px;
  --fz-64: 64px;
  --fz-80: 80px;
  --fz-120: 120px;
  --fz-13vw: 13vw;
}

.fz-14 {
  font-size: var(--fz-14);
}

.fz-16 {
  font-size: var(--fz-16);
}

.fz-20 {
  font-size: var(--fz-20);
}

.fz-30 {
  font-size: var(--fz-30);
}

.fz-64 {
  font-size: var(--fz-64);
}

.fz-80 {
  font-size: var(--fz-80);
}

.fz-120 {
  font-size: var(--fz-120);
}

.fz-13vw {
  font-size: var(--fz-13vw);
}