@import "../../../../styles/breakpoints";
@import "../../../../styles/mixin";

.wrapper {
  background-color: var(--color-white);
}

.grid {
  display: grid;
  grid-template-columns: 2fr 3fr;
  column-gap: rem(50px);
  padding: rem(80px) 0 rem(80px);
  border-bottom: 1px solid var(--color-gray-200);

  @include breakpoint-medium {
    grid-template-columns: 2fr 3fr;
    height: auto;
  }

  @include breakpoint-lg {
    grid-template-columns: 2fr 3fr;
  }

  @include breakpoint-2xl {
    grid-template-columns: 1fr 1fr;
  }

  figure {
    position: relative;
  }

  .icon {
    position: relative;
    display: inline-block;
    width: rem(25px);
    height: rem(25px);
    animation: iconhand 2s linear infinite alternate;
    transform: translate3d(0, 3px, 0);
  }
}

.copy {
  position: sticky;
  top: rem(80px);
  height: max-content;
  padding: rem(50px) 0;

  p {
    margin-bottom: rem(30px);
  }
}

.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: rem(10px);

  li {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: rem(10px);
    padding: rem(15px) rem(5px);
    background-color: var(--color-gray-200);
  }

  p {
    margin: 0;
  }
}

@keyframes iconhand {
  0%,
  50% {
    -webkit-transform: translate3d(0, 3px, 0) rotate(0deg);
    transform: translate3d(0, 3px, 0) rotate(0deg);
  }

  60% {
    -webkit-transform: translate3d(0, 3px, 0) rotate(-15deg);
    transform: translate3d(0, 3px, 0) rotate(-15deg);
  }

  70% {
    -webkit-transform: translate3d(0, 3px, 0) rotate(40deg);
    transform: translate3d(0, 3px, 0) rotate(40deg);
  }

  80% {
    -webkit-transform: translate3d(0, 3px, 0) rotate(-15deg);
    transform: translate3d(0, 3px, 0) rotate(-15deg);
  }

  90% {
    -webkit-transform: translate3d(0, 3px, 0) rotate(40deg);
    transform: translate3d(0, 3px, 0) rotate(40deg);
  }

  100% {
    -webkit-transform: translate3d(0, 3px, 0) rotate(0deg);
    transform: translate3d(0, 3px, 0) rotate(0deg);
  }
}
